@use "../base/variables" as v;
@use "../base/mixins" as m;

.Contact {
  text-align: center;
  padding: 1rem;
  @include m.desktop {
    height: 80vh;
  }
  &-h2 {
    text-align: start;
    margin-bottom: 4rem;
    border-bottom: 0.125rem solid v.$colorPrincipal;
    width: 100%;
    max-width: 23.0625rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  &-form {
    @include m.flex(column nowrap, center, center, 4rem);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 23.0625rem;
    margin-left: auto;
    margin-right: auto;
  }
  &-container {
    width: 100%;
    position: relative;
    @include m.flex(column nowrap, center, center, 2rem);
  }
  &-label {
    font-size: 1rem;
    font-weight: lighter;
    position: absolute;
    left: 0;
    top: 0; /* establece top en 0 */
    transition: top 0.5s ease-out;
  }

  &-label--filled {
    top: -1.5rem; /* establece top en un valor más bajo */
    opacity: 0.5;
    transition: top 0.75s ease-out; /* aumenta la duración de la transición */
  }
  &-input {
    padding: 1rem 0rem 1rem 0rem;
    border-style: none;
    width: 100%;
    max-width: 23.0625rem;
    border-bottom: solid 1px v.$colorLetra2;
    background-color: none;
    outline: none;
    cursor: pointer;
  }
  &-buttons {
    width: 100%;
  }
  &-container--rotate {
    width: 0.5rem;
    height: 0.5rem;
    border: solid 0.13rem black;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-137deg);
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &-error {
    color: red;
    font-weight: bolder;
  }
}
