@use "../base/variables" as v;
@use "../base/mixins" as m;

.Header {
  top: 0;
  position: fixed;
  background-color: v.$colorPrincipal;
  width: 100%;

  &-global {
    @include m.flex(row nowrap, space-between, center, 0rem);
    padding: 1rem;
  }
  &-container {
    @include m.flex(row nowrap, space-between, center, 1.3rem);
    position: relative;
  }
  &-menu {
    width: 1.5rem;
    cursor: pointer;
  }
  &-close {
    width: 1.5rem;
    z-index: 1;
    cursor: pointer;
  }
  &-logo {
    width: 2.5rem;
    z-index: 1;
  }
  &-icons {
    width: 1.5rem;
    cursor: pointer;
  }
}
.Nav {
  background-color: rgba(255, 255, 255, 0.589);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  transition: 0.6s;
  &-global {
    padding-left: 0;
    width: 40%;
    height: 100vh;
    padding-top: 4.3rem;
    padding-bottom: 2rem;
    background-color: v.$colorPrincipal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-subcontainer {
    margin-top: 2rem;
    @include m.flex(column nowrap, start, start, 1.4rem);
    font-size: 1.3rem;
  }
  &-container {
    padding: 1rem;
    font-weight: bolder;
    @include m.flex(column nowrap, start, start, 1.2rem);
  }
  &-enlace {
    font-size: 0.9rem;
    color: v.$colorLetra;
  }
}
.Nav--show {
  left: 0;
}
.HeaderMenu--hidden {
  display: none;
}
.NavEnlace--grande {
  font-size: 1.4rem;
}
.NavEnlace--gris {
  font-weight: lighter;
  color: v.$colorLetra;
}
