@charset "UTF-8";
.Header {
  top: 0;
  position: fixed;
  background-color: #ffcc03;
  width: 100%;
  z-index: 1;
}
.Header-global {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  padding: 1rem;
}
.Header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
  position: relative;
  z-index: 2;
}
.Header-menu {
  width: 1.5rem;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
@media screen and (min-width: 742px) {
  .Header-menu {
    width: 2rem;
  }
}
.Header-close {
  width: 1.5rem;
  z-index: 1;
  cursor: pointer;
}
@media screen and (min-width: 742px) {
  .Header-close {
    width: 2rem;
  }
}
.Header-logo {
  width: 2.5rem;
  z-index: 1;
}
@media screen and (min-width: 742px) {
  .Header-logo {
    width: 3.5rem;
  }
}
.Header-icons {
  width: 1.5rem;
  cursor: pointer;
  fill: rgb(32, 32, 32);
}
@media screen and (min-width: 742px) {
  .Header-icons {
    width: 2rem;
  }
}
.Header-menu--hidden {
  display: none;
}

.Nav {
  background-color: rgba(255, 255, 255, 0.589);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  transition: 0.6s;
}
.Nav-global {
  padding-left: 0;
  width: 40%;
  height: 100vh;
  padding-top: 4.3rem;
  padding-bottom: 2rem;
  background-color: #ffcc03;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 742px) {
  .Nav-global {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .Nav-global {
    width: 20%;
  }
}
@media screen and (min-width: 1250px) {
  .Nav-global {
    width: 15%;
  }
}
.Nav-subcontainer {
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 1.4rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 1750px) {
  .Nav-subcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
.Nav-container {
  padding: 1rem;
  font-weight: bolder;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 1.2rem;
}
@media screen and (min-width: 1750px) {
  .Nav-container {
    justify-content: center;
    align-items: center;
  }
}
.Nav-enlace {
  font-size: 0.9rem;
  color: rgb(32, 32, 32);
}
@media screen and (min-width: 1250px) {
  .Nav-enlace {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1750px) {
  .Nav-enlace {
    font-size: 1.1rem;
  }
}
.Nav-text {
  margin-right: 0.2rem;
}
.Nav-span {
  color: rgb(114, 114, 114);
  cursor: pointer;
}
.Nav-monedas {
  background-color: #ffcc03;
  padding: 0.3rem;
  width: 3.3rem;
  cursor: pointer;
}
.Nav-listado {
  position: absolute;
  top: 0;
  left: 0.7rem;
  display: none;
  transition: 0.5s;
  opacity: 0;
}
.Nav-listado--active {
  opacity: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  transition: 0.5s;
}
.Nav-enlace--grande {
  font-size: 1.4rem;
}
@media screen and (min-width: 1250px) {
  .Nav-enlace--grande {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1750px) {
  .Nav-enlace--grande {
    font-size: 1.8rem;
  }
}
.Nav-enlace--gris {
  font-weight: lighter;
  color: rgb(32, 32, 32);
}
.Nav-container--pago {
  position: relative;
}
.Nav-container--idiomas {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .Nav-container--idiomas {
    flex-flow: row nowrap;
  }
}
.Nav-container--rotate {
  width: 0.3rem;
  height: 0.3rem;
  background-color: black;
  transform: rotate(45deg);
}

.Nav--show {
  left: 0;
}

.Main {
  margin-top: 6.5rem;
  position: relative;
}
.Main-global {
  display: grid;
  padding: 0 1rem 0 1rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 1400px) {
  .Main-global {
    gap: 1rem;
  }
}
@media screen and (min-width: 742px) {
  .Main-container--2modules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 742px) {
  .Main-container--3modules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.Main-cards {
  text-align: center;
  position: relative;
  cursor: pointer;
}
.Main-img {
  margin-bottom: 1rem;
  width: 40rem;
}
@media screen and (min-width: 742px) {
  .Main-img {
    height: 30rem;
  }
}
@media screen and (min-width: 1000px) {
  .Main-img {
    height: 40rem;
  }
}
.Main-img--grande {
  width: 70rem;
}
.Main-h2--grande {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(32, 32, 32);
}
@media screen and (min-width: 1400px) {
  .Main-h2--grande {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 35%;
    background-color: rgba(255, 255, 255, 0.911);
    padding: 3rem;
    width: 13rem;
    height: auto;
  }
}
@media screen and (min-width: 1550px) {
  .Main-h2--grande {
    left: 37%;
  }
}
.Main-h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgb(32, 32, 32);
}
@media screen and (min-width: 1400px) {
  .Main-h2 {
    position: absolute;
    top: 40%;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.911);
    padding: 3rem;
    width: 13rem;
    height: auto;
  }
}
@media screen and (min-width: 1550px) {
  .Main-h2 {
    left: 31%;
  }
}
.Main-h2--mostrar {
  opacity: 1;
  transition: 0.5s;
}
@media screen and (min-width: 1400px) {
  .Main-h2--hidden {
    opacity: 0;
    transition: 0.5s;
  }
}

.Footer {
  margin-top: 2rem;
}
.Footer-global {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 1000px) {
  .Footer-global {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
.Footer-copy {
  font-size: 0.8rem;
  color: rgb(114, 114, 114);
}
.Footer-container {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .Footer-container {
    margin-bottom: 0;
  }
}
.Footer-ul {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.4rem;
}
@media screen and (min-width: 1000px) {
  .Footer-ul {
    flex-flow: row wrap;
  }
}
.Footer-enlace {
  font-size: 0.9rem;
  color: rgb(114, 114, 114);
  text-transform: uppercase;
}

.Catalogo-h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 742px) {
  .Catalogo-h2 {
    font-size: 1.8rem;
  }
}
.Catalogo-global {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 742px) {
  .Catalogo-global {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 1250px) {
  .Catalogo-global {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 1665px) {
  .Catalogo-global {
    justify-content: space-between;
  }
}
.Catalogo-cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 742px) {
  .Catalogo-cards {
    margin-bottom: 0rem;
  }
}
.Catalogo-text {
  text-align: center;
}
.Catalogo-h3 {
  margin-bottom: 1.2rem;
  color: rgb(32, 32, 32);
}
.Catalogo-precio {
  letter-spacing: 0.03rem;
  color: rgb(32, 32, 32);
}

.Clothes {
  padding: 0 1rem 0 1rem;
}
.Clothes-carrusel {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;
}
.Clothes-global {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 1250px) {
  .Clothes-global {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}
.Clothes-carrusel--btns {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  top: 45%;
  width: 100%;
}
.Clothes-container--carrusel {
  display: flex;
  position: relative;
  left: 0%;
  width: 400%;
  transition: 0.5s;
  z-index: -1;
}
.Clothes-carrusel--svg {
  cursor: pointer;
  width: 2rem;
  fill: #ffcc03;
}
.Clothes-img {
  width: 49rem;
}
.Clothes-img--mod {
  width: 49rem;
}
@media screen and (min-width: 1250px) {
  .Clothes-h2 {
    font-size: 1.75rem;
  }
}
.Clothes-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 1250px) {
  .Clothes-info {
    align-items: start;
    padding-left: 6rem;
  }
}
.Clothes-carrusel--small {
  display: flex;
  gap: 1rem;
}
.Clothes-img--small {
  width: 6rem;
  cursor: pointer;
}
.Clothes-img--smallSelected {
  border-bottom: 0.125rem solid #ffcc03;
}
.Clothes-size {
  padding-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Clothes-btn--small {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-style: none;
  padding: 0.5rem;
  width: 2.4rem;
  background-color: transparent;
  cursor: pointer;
}
.Clothes-btn--small:hover {
  border-bottom: 0.125rem solid #ffcc03;
}
.Clothes-btn--smallColor {
  border-bottom: 0.125rem solid #ffcc03;
}
.Clothes-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.Clothes-text {
  font-weight: bolder;
}
@media screen and (min-width: 1250px) {
  .Clothes-text {
    font-size: 1.2rem;
  }
}
.Clothes-details {
  padding-left: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.Clothes-li {
  list-style: square;
}
@media screen and (min-width: 1250px) {
  .Clothes-li {
    font-size: 1.1rem;
  }
}
.Clothes-similar {
  text-align: center;
}
@media screen and (min-width: 1250px) {
  .Clothes-similar {
    text-align: start;
  }
}
.Clothes-similar--subcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 1250px) {
  .Clothes-similar--subcontainer {
    justify-content: start;
  }
}
.Clothes-h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1250px) {
  .Clothes-h3 {
    font-size: 1.6rem;
  }
}
.Clothes-img--similar {
  width: 10rem;
}
@media screen and (min-width: 742px) {
  .Clothes-img--similar {
    width: 14rem;
  }
}
@media screen and (min-width: 1250px) {
  .Clothes-img--similar {
    width: 18rem;
  }
}
.Clothes-btn {
  background-color: #ffcc03;
  border-style: none;
  padding: 1rem;
  width: 100%;
  max-width: 23.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s;
  font-weight: bolder;
}
.Clothes-btn:hover {
  background-color: black;
  color: white;
}

.Clothes-carrusel--move1 {
  left: -100%;
}

.Clothes-carrusel--move2 {
  left: -200%;
}

.Clothes-carrusel--move3 {
  left: -300%;
}

.Contact {
  text-align: center;
}
.Contact-h2 {
  text-align: start;
  margin-bottom: 4rem;
  border-bottom: 0.125rem solid #ffcc03;
  width: 100%;
  max-width: 23.0625rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.Contact-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 23.0625rem;
  margin-left: auto;
  margin-right: auto;
}
.Contact-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Contact-label {
  font-size: 1rem;
  font-weight: lighter;
  position: absolute;
  left: 0;
  top: 0; /* establece top en 0 */
  transition: top 0.5s ease-out;
}
.Contact-label--filled {
  top: -1.5rem; /* establece top en un valor más bajo */
  opacity: 0.5;
  transition: top 0.75s ease-out; /* aumenta la duración de la transición */
}
.Contact-input {
  padding: 1rem 0rem 1rem 0rem;
  border-style: none;
  width: 100%;
  max-width: 23.0625rem;
  border-bottom: solid 1px rgb(114, 114, 114);
  background-color: none;
  outline: none;
  cursor: pointer;
}
.Contact-container--rotate {
  width: 1rem;
  height: 1rem;
  border: solid 0.1875rem black;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-137deg);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Shop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  height: 80vh;
}
.Shop-svg {
  width: 5rem;
  fill: rgb(177, 177, 177);
}
.Shop-h2 {
  font-size: 1.8rem;
}
.Shop-span {
  font-size: 1rem;
  color: rgb(114, 114, 114);
}

.Carrito {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s ease-in-out;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.322);
}
.Carrito-global {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 80%;
  margin-left: auto;
  padding: 5rem 1.4rem 1.4rem 1.4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
.Carrito-h2 {
  margin-bottom: 4rem;
}
.Carrito-cards {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
  border-bottom: solid 0.1rem rgb(114, 114, 114);
  padding-bottom: 2rem;
}
.Carrito-subglobal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
.Carrito-icon {
  width: 1.1rem;
  position: absolute;
  right: 2rem;
  top: 0;
  right: 0;
  cursor: pointer;
}
.Carrito-img {
  width: 6rem;
}
.Carrito-h3 {
  margin-bottom: 1rem;
}
.Carrito-container {
  padding-top: 2rem;
}
.Carrito-subcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.Carrito-size {
  font-size: 0.9rem;
}
.Carrito-precio {
  font-size: 0.9rem;
}
.Carrito-btn {
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  background-color: #ffcc03;
  border-style: none;
  cursor: pointer;
  position: relative;
  bottom: 1rem;
}
.Carrito-btn:hover {
  background-color: black;
  color: white;
}
.Carrito--show {
  right: 0;
  transition: 0.5s ease-in-out;
}

/*# sourceMappingURL=index.css.map */
